body {
    font-family: Arial, Helvetica, sans-serif;
}

.divTodoList {
    border: 1px solid blue;
    border-radius: 8px;
    width: 350px;
    margin: 0 auto;

}

h2 {
    margin: 10px auto;
    padding-left: 10px;
}

.divFilter,
.divAdd {
    border: 1px solid black;
    border-radius: 8px;
    padding: 12px;
    margin: 6px;
    font-size: 10pt;
}

#taskList {
    padding-right: 10px;
}

#taskList ul {
    list-style: none;
}

#taskList ul li {
    width: 100%;
    display: flex;
    align-items: center;
}

#taskList ul li span {
    margin: 5px;
    flex-grow: 1;
}

.divFilter {
    margin-top: 20px;
}

.divAdd {
    margin-top: 20px;
}

.filter {
    padding-left: 20px;
}

.remove {
    font-weight: 600;
    background-color: rgba(180, 21, 21, 0.596);
    border-radius: 4px;
    border: none;
    padding: 4px;
}