@media only screen and (min-width: 750px) {
    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    #menuNav {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    #menuNav a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        padding: .8rem 1rem;
        text-align: center;
        font-size: 18px;
    }

    header img {
        width: 100px;
    }

    header {
        font-size: 18px;
    }

    .headings h1 {
        font-size: 24pt;
    }

    .gallery {
        grid-template-columns: repeat(2, 350px);
        justify-self: center;
    }

}