body {
    font-family: 'Catamaran', sans-serif;
}

picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}

h1 {
    justify-self: center;
}

picture {
    display: grid;
    justify-items: center;
}

img {
    border: 1px dashed grey;
    padding: 2px;
}

.grid1 {
    display: grid;
    grid-column: 1;
}