
main {
    margin: auto;
    width: 100%;
}

.wireframe {
    border: solid #2b4b84;
    border-radius: 8px;
    padding-left: 1rem;
    padding-bottom: 2rem;
    margin: 10px auto;
}

.wstory {
    border: solid #2b4b84;
    border-radius: 8px;
    padding: .5rem;
    overflow: auto; 
    margin: 10px auto;
       
}

.wstory img {
    width: 100%;
    text-align: center;
    border-radius: 8px;
}

.towninfo {
    border: solid #2b4b84;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(1, 98%);
    grid-gap: .5rem;
    justify-content: center;
    padding: .5rem;
}

.towninfo section {
    padding: 1rem;
    
    background-color: #f3a971;
    text-align: center;
    border-radius: 8px;
}
.townname {
    font-size: 36px;
    font-weight: 700;
    color: #2b4b84;
    padding-top: .5rem;
}

.townmotto {
    padding-bottom: 2rem;
    font-style: italic;
    font-weight: 700;
}

.towninfo img {
    width: 100%;
    padding-top: .8rem;
    
}
