body {
  font-family: "Raleway", sans-serif; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

header {
  margin: 0 auto;
  background-color: #29526D;
  color: white;
  padding: 2%; }
  header picture {
    display: flex;
    justify-content: center;
    padding-top: 1rem; }
    header picture img {
      border-radius: 10px; }
  header h1 {
    font-size: 1.8rem;
    text-align: center; }
  header h2 {
    margin-top: -20px;
    font-size: 1rem;
    font-style: italic;
    color: #FFFF7A;
    text-align: center; }

nav {
  background-color: #123852;
  margin: 0 auto; }
  nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white; }
  nav ul li.active a {
    background-color: #29526D;
    color: #fff; }
  nav ul li a:hover {
    background-color: #aa5639; }
  nav ul.hide {
    display: none; }

#menuNav {
  margin: 0 auto;
  list-style: none; }

#menuNav a {
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.3); }

footer {
  margin: 0 auto;
  background-color: #29526D;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 1rem; }

.confirm {
  margin: 0 auto;
  padding: 2rem; }

.resTable {
  border: 1px solid #123852;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem auto;
  width: 90%;
  max-width: 700px; }

table {
  width: 90%;
  margin: auto;
  box-shadow: 10px 10px 10px #29526D; }

table,
th,
td {
  border: 1px solid gray;
  border-collapse: collapse; }

th,
td {
  padding: 5px;
  text-align: center; }

caption {
  background-color: #29526D;
  color: white;
  font-size: 24px;
  font-weight: 900;
  padding: 15px; }

.resForm {
  display: flex;
  justify-content: center; }

form {
  width: 350px; }
  form fieldset {
    margin: 2rem 0;
    border: 1px solid #123852;
    border-radius: 10px;
    padding: .5rem 2%; }
  form legend {
    color: #123852;
    font-weight: 700;
    margin: 0 1rem;
    padding: 0 .5rem; }
  form label.ontop, form div {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: 1rem; }
  form label.ontop input, form label.ontop select {
    display: block;
    font-size: 1rem;
    border: solid 1px #aa5639;
    border-radius: 10px;
    padding: .75rem;
    color: #555;
    width: 300px;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1); }
  form input.submit {
    border: none;
    background-color: #123852;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem; }
  form label.ontop input:required {
    border-left: red solid 6px; }
  form label.ontop input:required:valid {
    border-left: green solid 6px; }
  form label textarea {
    display: block;
    width: 98%;
    height: 75px; }

#selAdventure, form label.onside {
  display: block;
  padding: .75rem 1rem;
  color: #555;
  font-size: 1rem;
  width: 99%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1); }

.form_response {
  margin: 0 auto;
  padding: 2rem;
  max-width: 350px; }

.contactMap {
  display: block;
  text-align: center;
  justify-content: center;
  margin: 1rem auto;
  border: 1px solid #123852;
  border-radius: 10px;
  padding: 1rem 0;
  width: 350px;
  max-width: 700px; }
  .contactMap img {
    width: 90%; }

.contactAddress p {
  margin: .5rem; }

.contactForm {
  display: flex;
  justify-content: center; }

.homeWeatherDiv,
.homeContactDiv,
.homeContentDiv {
  border: 2px solid #123852;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem auto;
  width: 90%;
  max-width: 700px; }
  .homeWeatherDiv img,
  .homeContactDiv img,
  .homeContentDiv img {
    width: 100%;
    border-radius: 10px; }

.homeContentDiv {
  position: relative; }

.homeCTA {
  position: absolute;
  bottom: 10%;
  right: 10%;
  background: radial-gradient(#eee, yellow);
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 0 30px #111;
  opacity: .9; }
  .homeCTA a {
    text-decoration: none;
    color: black;
    font-weight: 700; }

.homeWeatherLabel h3 {
  margin-bottom: 5px; }

.homeForecast {
  display: block;
  flex-direction: row;
  justify-content: center; }
  .homeForecast div {
    border: 1px solid #123852;
    border-radius: 10px;
    background-color: #f5ddb2; }

.fcDay,
.fcDate,
.fcTemp,
.fcDesc {
  display: block;
  font-weight: 700;
  color: black;
  text-align: center; }

.fcDesc {
  text-transform: capitalize; }

.todayCol, .fcCol {
  display: flex;
  font-size: .8rem; }
  .todayCol img, .fcCol img {
    width: 50px;
    order: 1; }
  .todayCol .fcDay, .fcCol .fcDay {
    margin: 1rem 0;
    order: 2; }
  .todayCol .fcDate, .fcCol .fcDate {
    margin: 1rem 1rem;
    order: 3; }
  .todayCol .fcTemp, .fcCol .fcTemp {
    margin: 1rem 0;
    order: 4; }
  .todayCol .fcDesc, .fcCol .fcDesc {
    margin: 1rem 0 0 1rem;
    order: 5; }

.todayCol .fcDay {
  margin-right: 1rem; }

.advDiv {
  border: 2px solid #123852;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem auto;
  width: 80%;
  max-width: 700px; }
  .advDiv section {
    border: 1px solid #29526D;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem auto; }
    .advDiv section img {
      width: 100%;
      max-width: 500px;
      border-radius: 10px; }
    .advDiv section div {
      width: 100%;
      max-width: 500px; }

.rgDiv {
  border: 2px solid #123852;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem auto;
  width: 80%;
  max-width: 700px;
  justify-content: center; }
  .rgDiv section {
    border: 1px solid #29526D;
    border-radius: 10px;
    margin: .5rem auto;
    padding: 1rem;
    display: block; }
  .rgDiv img {
    width: 200px;
    max-width: 200px;
    border-radius: 10px; }

.rgName {
  font-size: 2rem; }

.rgInfo {
  padding: 1rem; }

.rgBio {
  padding-top: 1rem; }

@media only screen and (min-width: 650px) {
  header {
    display: flex;
    align-content: center;
    justify-content: center; }
    header picture {
      display: flex;
      justify-content: center;
      padding-top: 0; }
    header img {
      width: 100px; }
    header h1 {
      margin: -5px 0 0 0;
      font-size: 2.5rem;
      padding-left: 1rem; }
    header h2 {
      font-size: 1.5rem;
      text-align: right;
      margin: 0; }
  nav button {
    display: none; }
  nav ul.hide {
    display: block; }
  #menuNav {
    display: flex;
    justify-content: center;
    padding: 0; }
  #menuNav a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    padding: .8rem 1rem;
    text-align: center;
    font-size: 1.2rem; }
  footer {
    font-size: 1.2rem; }
  .contactMap {
    margin: 1rem auto;
    padding: 1rem;
    width: 50%; }
    .contactMap img {
      width: 100%; }
  .homeWeatherDiv {
    display: block; }
  .homeForecast {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .homeForecast div {
      border: 1px solid #123852;
      border-radius: 10px;
      background-color: #f5ddb2;
      padding: 1rem;
      width: 100%; }
      .homeForecast div img {
        width: 100%;
        background-color: #f5ddb2; }
  .fcDay,
  .fcDate,
  .fcTemp,
  .fcDesc {
    display: block;
    font-weight: 700;
    color: black;
    text-align: center; }
  .fcDesc {
    text-transform: capitalize; }
  .todayCol, .fcCol {
    display: block;
    font-size: 1rem; }
    .todayCol img, .fcCol img {
      width: 50px;
      order: 3; }
    .todayCol .fcDay, .fcCol .fcDay {
      margin: 0;
      order: 1; }
    .todayCol .fcDate, .fcCol .fcDate {
      margin: 0;
      order: 2; }
    .todayCol .fcTemp, .fcCol .fcTemp {
      margin: 0;
      order: 4; }
    .todayCol .fcDesc, .fcCol .fcDesc {
      margin: 0;
      order: 5; }
  .rgDiv {
    display: grid;
    grid-template-columns: repeat(1, 98%);
    justify-content: center; }
    .rgDiv section {
      display: flex; }
    .rgDiv section:nth-child(odd) {
      display: flex;
      flex-direction: row-reverse; }
    .rgDiv img {
      max-height: 150px; } }

/* end of media query */
/* end of media query */
