header {
    display: flex;
    align-content: center;
    justify-content: center;
    picture {
        display: flex;
        justify-content: center;
        padding-top: 0;
    } // end picture
    img {
        width: 100px;  
        //padding-right: 1rem;      
    } // end img
    h1 {
        margin: -5px 0 0 0;
        font-size: 2.5rem;
        padding-left: 1rem;
    } // end h1
    h2 {
        font-size: 1.5rem;
        text-align: right;
        margin: 0;
    } // end h2
} // end header

nav {
    button {
        display: none;
    } // end button
    ul.hide {
        display: block;
    } // end ul.hide
} // end nav

#menuNav {
    display: flex;
    justify-content: center;
    padding: 0;
}

#menuNav a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    padding: .8rem 1rem;
    text-align: center;
    font-size: 1.2rem;
}

footer {
    font-size: 1.2rem;
}

//  Contact page

.contactMap {
    margin: 1rem auto;
    padding: 1rem;
    width: 50%;
    img {
        width: 100%;
    } //end img
} // end contactMap

//---------------------------------------------------------------
.homeWeatherDiv {
    display: block;
}

