
main {
    margin: 0 auto;
    max-width: 55rem;
    padding: 1rem;
}

.herodiv {
    position: relative;
}

.herodiv img {
    max-width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 8px;
}

.fivedaydiv {
    display: none;
    border: 2px solid #2b4b84;
    border-radius: 8px;
    padding: 10px;
}

.fiveDayLabel h3 {
    margin-bottom: 5px;
}

.weathersum {
    position: absolute;
    top: 10px;
    left: 10px;
    background: radial-gradient(#eee, #c77233);
    border-radius: 8px;
    padding: 0;
    box-shadow: 0 0 30px #111;
    opacity: .9;
    color: black;
}

.weathersum,
h2,
p {
    margin: 4px;
    color: black;
    font-weight: 700;
    padding: 0;
}

.eventBox {
    border: 2px solid #2b4b84;
    border-radius: 8px; 
    text-align: center;
    margin: 10px 0px;
}

.eventBox hr {
    width: 50%;
}

.eventBox ul {
    list-style-type: none;
}

.fcFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fcFlex div {
    border: 1px solid black;
    background-color: #6e83aa;
    padding: 1rem;
    width: 100%;
}

.fcCol {
    flex: 1 1 100%;
    background-color: #6e83aa;
    border: 12px solid black;
    font-size: 13px;
    text-align: center;
}

.fcDay,
.fcDate,
.fcTemp,
.fcDesc {
    display: block;
    font-weight: 700;
    color: black;
    text-align: center;
    background-color: #6e83aa;
}

.fcDesc {
    text-transform: capitalize;
}

.fcFlex div img {

    width: 100%;
    background-color: #6e83aa;
}

.data {
    display: block;
    padding: 0 5px 5px;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.articlediv {
    display: block;
    margin: 10px auto;
    border: 2px solid #2b4b84;
    border-radius: 8px;
    padding: 0;
    background-color: #eee;
    color: #444;
    overflow: auto;
}

.articlediv h3, h4 {
    padding: 0 10px;
}

.articlediv img {
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 8px;
}

.articlediv p {
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px;
}

.contactdiv {
    display: block;
    margin: 10px auto;
    border: 2px solid #2b4b84;
    border-radius: 8px;
    padding: 0;
    background-color: #eee;
    color: #444;
    overflow: auto;
}

.contactimg{
    float: left;
    width: 300px;
    margin: 10px;
    border-radius: 8px;
}

.contactinfo {
    margin: 1rem;

}

.noticeText {
    border-radius: 8px;
    border: 1px solid #bbb;
    background-color: #E0C658;
    color: black;
    padding: 20px 0;
    display: block;
    text-align: center;
}

