@media only screen and (min-width: 650px) {

    .fivedaydiv {
        display: block;
    }

    .weathersum,
    h2,
    p {
        padding: 2px;
    }

    .articlediv img {
        float: right;
        margin-left: 1rem;
        width: 250px;
        height: auto;
    }

    .contactdiv {
        display: flex;
    }

    .contactimg {
        float: left;
        margin-right: 1rem;
        width: 300px;
        height: auto;
        order: 1;
    }

    .contactinfo {
        order: 2;
    }
}