@media only screen and (min-width: 750px) {
    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    #menuNav {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    #menuNav a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        padding: .8rem 1rem;
        text-align: center;
        font-size: 18px;
    }

    header img {
        width: 100px;
    }

    header {
        font-size: 18px;
    }

    .headings h1 {
        font-size: 24pt;
    }

    .motto {
        letter-spacing: 1.5pt;
        font-size: 1.6rem;
        margin-left: 17px;
    }

    form label.onside {
        padding: .4rem 0;
    }

    form legend {
        color: #445ba9;
        margin: 0 1rem;
        padding: 0 .5rem;
    }

    form label.ontop input, form label.ontop select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 350px;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

}